// TODO: Refactor.

.posts-expand {
  padding-top: 40px;
}

@media (max-width: 767px) {

  .posts-expand {
    margin: 0 20px;
  }

  .post-body {
    pre {
      padding: 10px;
      .gutter pre {
        padding-right: 10px;
      }
    }

    .highlight {
      margin-left: 0px;
      margin-right: 0px;
      padding: 0;
      .gutter pre {
        padding-right: 10px;
      }
    }
  }
}

.posts-expand .post-body {
  +desktop() { text-align: justify; }


  h2, h3, h4, h5, h6 {
    padding: 10px 0;
    margin: 0px;

    .header-anchor{
      float: right;
      margin-left: 10px;
      color: $grey-light;
      border-bottom-style: none;
      visibility: hidden;

      &:hover{
        color: inherit;
      }
    }

    &:hover .header-anchor{
      visibility: visible;
    }
  }

  .aboutLinks {
    color: steelblue;
    text-decoration: underline;
    border-bottom: 0;
  }

  ul li { list-style: circle; }

  img {
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
    border: 1px solid $gray-lighter;
  }

  .pub_title {
    font-weight: 700;
    font-size: 16px;
    color: black;
  }

  .me {
    color: steelblue;
    font-weight: 500;
  }

  .pub_descrp {
    font-size: 16px;
  }

  .aboutTable{
    border: 0;
    width: initial;
  }

  .aboutTable tr {
    background-color: white;
  }

  .tableDate {
    padding: 0px;
    text-align: right;
  }

  .tableTitle {
    font-weight: 700;
    padding: 0px 0px 0px 20px;
    font-size: 105%;
    color: black;
  }

  .tableDescr {
    font-weight: 300;
    padding: 0px 0px 0px 20px;
    font-size: 105%;
  }



}

.posts-expand .fancybox img { margin: 0 auto; }
